body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  width: 1400px;
  height: 500px;
  font-size: 20px;
}
.btn-ind-large {
  width: 150px;
  height: 40px;
}
.btn-ind-small {
  width: 50px;
  height: 40px;
}
.btn-ind-med {
  width: 100px;
  height: 40px;
}
.display {
  background-color: #cacacc;
  padding-bottom: 2px; 
  padding-top: 2px;
  padding-right: 4px;
  width: 14%;
  text-align: right;
}
.btn-right {
  background-color: orange;
}
.btn-right:hover {
background-color: #ec6f27;
}
